<h2>Explore a selection of delicious recipes crafted by diverse individuals, incorporating a wide range of ingredients
  from various culinary traditions.</h2>
{{#each recipes}}
<div class="container-wrapper">
  <div class="background-box"></div>
  <div class="recipe-container">
    <div class="floating-tab">Popular For You!</div>
    <div class="recipe-card">
      <h3>{{this.title}}</h3>


    </div>
    <div class="carousel-container">
      <div id="recipeCarousel1" class="carousel slide">
        <div class="carousel-inner">
         
          <div class="carousel-item active">
          
            <img src="{{this.image}}" class="d-block w-100" alt="Recipe {{@index}}">
          </div>
         
          <div class="carousel-item">
            <img src="/images/img2.jpeg" class="d-block w-100" alt="Placeholder Recipe 2">
          </div>
          <div class="carousel-item">
            <img src="/images/img3.webp" class="d-block w-100" alt="Placeholder Recipe 3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#recipeCarousel1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#recipeCarousel1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
{{/each}}

<div class="container-wrapper">
  <div class="background-box"></div>
  <div class="recipe-container">
    <div class="floating-tab2">New Recipe</div>
    <div class="recipe-card">
      <h3>Recipe Title</h3>
      <ul class="ingredients-list">
        <li>Ingredient 1</li>
        <li>Ingredient 2</li>
      </ul>
      <p>Recipe instructions...</p>
    </div>
    <div class="carousel-container">
      <div id="recipeCarousel1" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/firstimg.jpeg" class="d-block w-100" alt="Placeholder Recipe 1">
          </div>
          <div class="carousel-item">
            <img src="/images/img2.jpeg" class="d-block w-100" alt="Placeholder Recipe 2">
          </div>
          <div class="carousel-item">
            <img src="/images/img3.webp" class="d-block w-100" alt="Placeholder Recipe 3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#recipeCarousel1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#recipeCarousel1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-wrapper">
  <div class="background-box"></div>
  <div class="recipe-container">
    <div class="floating-tab">Latest Recipe</div>
    <div class="recipe-card">
      <h3>Recipe Title</h3>
      <ul class="ingredients-list">
        <li>Ingredient 1</li>
        <li>Ingredient 2</li>
      </ul>
      <p>Recipe instructions...</p>
    </div>
    <div class="carousel-container">
      <div id="recipeCarousel1" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./firstimg.jpeg" class="d-block w-100" alt="Placeholder Recipe 1">
          </div>
          <div class="carousel-item">
            <img src="./img2.jpeg" class="d-block w-100" alt="Placeholder Recipe 2">
          </div>
          <div class="carousel-item">
            <img src="./img3.webp" class="d-block w-100" alt="Placeholder Recipe 3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#recipeCarousel1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#recipeCarousel1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>