 <link rel="stylesheet" href="/css/recipepage.css">
  <main>
    <div class="backgroundimage">
      <img src="../public/images/cooking-icons-seamless-pattern_98292-4834.avif">
    </div>

    <div class="container-wrapper">
      <div class="recipe-container">
        <h2>{{title}}</h2>
        <div class="recipe-image" id="recipe-image-container">
          <img src="{{image}}" >
        </div>
        <div class="recipe-details">
            
            <button class="favorite-btn" data-recipe-id="12345">
                <i class="fas fa-thumbs-up" aria-hidden="true"></i> Save to List
              </button>
          <h3>Ingredients</h3>
          <ul>
            {{#each ingredients as |ingredient|}}
            <li>{{ingredient}}</li>
            {{/each}}
            <!-- Add more ingredients as needed -->
          </ul>
          <h3>Instructions</h3>
          <ol>
           {{#each instructions as |instruction|}}
            <li>{{instruction}}</li>
            {{/each}}
            <!-- Add more steps as needed -->
          </ol>
        </div>
      </div>
    </div>
  </main>


