  <div class="signup-container">
    <form action="/signup" method="get">
      <p>Create an account!</p> 
        <input type="text" name="name" placeholder="Name" id="name-signup"required>
        <input type="email" name="email" placeholder="Email" id="email-signup" required>
        <input type="password" name="password" placeholder="Password" id="password-signup" required>
        <button type="submit">Sign up</button>
      </form>
    </div>