* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.backgroundimage {
  position: fixed; /* Change from 'absolute' to 'fixed' */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover; /* Change from 'contain' to 'cover' */
  background-repeat: no-repeat;
  background-position: center;
  z-index: -30;
  opacity: 0.1;
}

.backgroundimage img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Add this property to ensure the image covers the entire container */
}

.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  position: relative; /* Add position relative */
  z-index: 1;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 500px;
  margin-top: 10px;
}

.search-input {
  padding-left: 35px;
  background-color: rgba(141, 141, 141, 0.628);
  border: none; /* Remove the border */
  border-radius: 5px;
  color: rgb(37, 37, 37);
}

.fa-utensils {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  color: #f76307ed;
  font-size: 16px;
}

.homepageheader {
  display: flex;
  align-items: center;
  flex-direction: row; /* Update to row */
  margin-top: 20px; /* Adjust the margin-top value */
  border-bottom: 2px solid #F76507;
}

.logo {
  order: 2; /* Change the order to 2 */
  margin-top: -20px;
  margin-right: 100px; /* Update margin-right to margin-left */
}

.logo img {
  max-width: 175px;
}

h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: normal; /* Change font-weight to normal */
  font-size: 30px;
  line-height: 29px;
  margin-left: 500px;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 10px;
  color: #F76507;
}

.button-container {
  position: absolute;
  top: 10px;
  left: 20px;
}

.btn {
  margin-right: 10px;
  color: #F76507;
  padding: 5px 10px;
  font-family: 'Inter';
  font-size: 22px;
  font-weight: 500;
  position: relative; /* Add position relative */
}

.btn::after {
  content: "";
  position: absolute;
  bottom: -3px; /* Adjust the distance of the line from the button text */
  left: 0;
  width: 100%;
  height: 2px; /* Adjust the height of the line */
  background-color: #F76507;
  transform: scaleX(0); /* Initially hide the line */
  transition: transform 0.3s ease-in-out;
}

.btn:hover::after {
  transform: scaleX(1); /* Show the line on hover */
}

h2 {
  margin-top: 10px;
  margin-bottom: 50px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-size: 28px;
  text-align: center;
}

.carousel-item img {
  max-width: 100px;
  max-height: 100px;
  align-items: center;
  display: block;
  margin: 0 auto;
}

.carousel-container {
  position: relative; 
}

.signup-container {
  display: inline-block;
  vertical-align: top;
  background-color: #eee2e2;
  padding: 10px;
  margin: 90px 5px;
  max-width: 400px;
  border-radius: 20px;
}

.signup-text p {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
}

.signup-container form {
  display: flex;
  flex-direction: column;
}

.signup-container input,
.signup-container button {
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #f7630729;
}

p {
  margin-bottom: 10px;
}

.border-container {
  margin-bottom: -60px;
}

.floating-tab {
  position: absolute;
  top: -20px; 
  left: -100px; 
  width: 180px;
  height: 40px;
  font-size: 25px;
  font-weight: 50%;
  border-radius: 3px;
  background-color: #fefefe7f;
  color: #F76507;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.37);
  z-index: 10; /* Add the z-index property */
}

.view-more {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.view-more-button {
  background-color: #f76307aa;
  color: white;
  padding: 3px 6px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}

.view-more-button:hover {
  background-color: #f76307;
}
.view-more-button::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Adjust the distance of the line from the button text */
  left: 0;
  width: 100%;
  height: 2px; /* Adjust the height of the line */
  background-color: white; /* Change the color of the line */
  transform: scaleX(0); /* Initially hide the line */
  transition: transform 0.3s ease-in-out;
}

.view-more-button:hover::after {
  transform: scaleX(1); /* Show the line on hover */
}
.recipe-container {
  position: relative;
  z-index: 2;
}
.recipe-image img {
  width: 100%;
  height: auto;
  max-width: 900px; /* Increase the max-width value */
}

.carousel-container,
.recipe-container {
  flex: 1;
  margin: 10px;
  background-color: #e2e0e0;
  padding: 30px;
  max-width: 500px;
}


h3 {
  font-weight: 100;
  font-size: 40px;
}

.yellow-footer {
  background-color: #F76507;
  padding: 20px;
  text-align: center;
  color: white;
  opacity: .8;
  font-weight: 100;
}
p {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 100;
}

.carousel-item img {
  width: 100%;
  height: auto;
  max-width: 900px; 
  max-height: 600px; 
  margin: 0 auto;
}
