.container-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .backgroundimage {
    position: fixed;
    top: 0;
    left: 0;
    width: 45vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }
  
  .logo {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(0, -50%) scale(0.7); /* Adjust the scale value as desired */
    z-index: 2;
    width: auto;
    height: auto;
  }
  
  .backgroundimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0px;
    background-color: #ffffff3b;
    padding: 70px;
    max-width: 500px;
    margin-left: auto;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-title h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-title p {
    font-size: 16px;
    color: #888;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Adjust alignment as needed */
    width: 100%;
    margin-top: 10px;
  }
  
  .login-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .login-form .form-group label {
    margin-bottom: 10px;
  }
  
  .login-form .form-group input {
    width: 100%;
  }
  .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Adjust alignment as needed */
    width: 100%;
    margin-top: 5px; /* Add margin to the top */
    margin-bottom: 10px; /* Add margin to the bottom */
  }
  
  .signup-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px; /* Increase the bottom margin */
  }
  
  .signup-form .form-group label {
    margin-bottom: 5px; /* Adjust the label's bottom margin */
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    margin-top: 25px;
  }
  
  .btn.alert-dark {
    background-color: #5e5e5e;
  }
  
  .btn.alert-dark:hover {
    background-color: #f76307a7;
    color: #ffffff;
  }
  
  /* Media query for screens smaller than 768px */
  @media (max-width: 768px) {
    .container {
      max-width: 90%; /* Adjust the max-width as desired */
    }
  }
  
  /* Media query for screens smaller than 480px */
  @media (max-width: 480px) {
    .container {
      max-width: 80%; /* Adjust the max-width as desired */
    }
  }