* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.backgroundimage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -30;
    opacity: 0.1;
}

.backgroundimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    max-width: 400px;
    position: relative;
    /* Add position relative */
    z-index: 1;
    background-color: #ffffff;
    margin: 0 auto;
    /* Center horizontally */
    margin-top: 50px;
    margin-bottom: 50px;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 500px;
    margin-top: 10px;
}

.search-input {
    padding-left: 35px;
    background-color: rgba(141, 141, 141, 0.628);
    border: none;
    /* Remove the border */
    border-radius: 5px;
    color: rgb(37, 37, 37);
}

.fa-utensils {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    color: #f76307ed;
    font-size: 16px;
}

.container {
    position: relative;
    text-align: right;
}


.favorite-btn {
    background-color: #fff;
    color: #f76307ed;
    padding: 3px 10px;
    border: 2px solid #a0a0a0a1;
    border-radius: 11px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: -20px;
    z-index: 2;
    font-family: inherit;
}

.favorite-btn:hover {
    background-color: #f76307aa;
    color: white;
}

.favorite-btn:hover i {
    color: white;
}

.favorite-btn i {
    margin-right: 6px;
    color: #f76307ed;
}

.homepageheader {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* Update to row */
    margin-top: 20px;
    /* Adjust the margin-top value */
}

.logo {
    order: 2;
    /* Change the order to 2 */
    margin-top: -20px;
    margin-right: 100px;
    /* Update margin-right to margin-left */
}

.logo img {
    max-width: 175px;
}

h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: normal;
    /* Change font-weight to normal */
    font-size: 30px;
    line-height: 29px;
    margin-left: 500px;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 10px;
    color: #F76507;
}

.button-container {
    position: absolute;
    top: 10px;
    left: 20px;
}

.btn {
    margin-right: 10px;
    color: #F76507;
    padding: 5px 10px;
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 500;
    position: relative;
    /* Add position relative */
}

.btn::after {
    content: "";
    position: absolute;
    bottom: -3px;
    /* Adjust the distance of the line from the button text */
    left: 0;
    width: 100%;
    height: 2px;
    /* Adjust the height of the line */
    background-color: #F76507;
    transform: scaleX(0);
    /* Initially hide the line */
    transition: transform 0.3s ease-in-out;
}

.btn:hover::after {
    transform: scaleX(1);
    /* Show the line on hover */
}

h2 {
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-size: 24px;
    text-align: center;
}

h3 {
    font-weight: 100;
    font-size: 35px;
}

.signup-container {
    display: inline-block;
    vertical-align: top;
    background-color: #eee2e2;
    padding: 10px;
    margin: 90px 5px;
    max-width: 400px;
    border-radius: 20px;
}

.signup-text p {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}

.signup-container form {
    display: flex;
    flex-direction: column;
}

.signup-container input,
.signup-container button {
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #f7630729;
}

p {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 100;
}

.border-container {
    margin-bottom: -60px;
}

.recipe-image img {
    max-width: 100vh;
    max-height: 300px;
}


.yellow-footer {
    background-color: #F76507;
    padding: 20px;
    text-align: center;
    color: white;
    opacity: .8;
}